{
  "semi": false,
  "overrides": [
    {
      "files": ["*.js", "*.jsx", "*.ts", "*.tsx", "*.scss"],
      "options": {
        "tabWidth": 4,
        "singleQuote": true,
        "jsxSingleQuote": true
      }
    },
    {
      "files": ["*.html"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
